###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################

#######################
# Organization vitals
#######################
# Cloud access url for Scheidt&Bachmann - DO NOT CHANGE
wss.url=https://app-eu.whitesourcesoftware.com/agent
# API Key for Scheidt&Bachmann System Technik Kiel - DO NOT CHANGE
#apiKey=Removed to not leak secrets to GitHub

# Adjust product / project name according to current build
productVersion=0.1.0-SNAPSHOT
#productToken=Removed to not leak secrets to GitHub
projectName=de.scheidtbachmann.statemachine.project

############
# Policies #
############
checkPolicies=true
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
#updateInventory=false
 
###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
#includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx   
#includes=**/*.m **/*.mm  **/*.js **/*.php
includes=**/*.jar
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.nupkg
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py

#Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar

case.sensitive.glob=false
followSymbolicLinks=true


############################################
# Disabling other package management tools
############################################
npm.resolveDependencies=false
bower.resolveDependencies=false
nuget.resolveDependencies=false
python.resolveDependencies=false
#maven.resolveDependencies=false
gradle.resolveDependencies=false
paket.resolveDependencies=false
go.resolveDependencies=false
ruby.resolveDependencies=false
sbt.resolveDependencies=false
php.resolveDependencies=false
html.resolveDependencies=false
cocoapods.resolveDependencies=false
hex.resolveDependencies=false
ant.resolveDependencies=false

####################################################################################################
# Lots of other configuration parameters can be configured. Consult the documentation for more info.
####################################################################################################